@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html * {
    font-family: "Space Mono";
    color: #333333;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
}

.uppercase {
    text-transform: uppercase;
}

.f--size24 {
    font-size: 24px;
}

.f--size48 {
    font-size: 48px;
}

.f--size18 {
    font-size: 18px;
}

.f--weight-bold {
    font-weight: bold;
}

.f--weight-normal {
    font-weight: normal;
}

.white {
    color: #ffffff;
}

.bg-color-black {
    background-color: #333333;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .scarecrow {
        padding-top: 5vh;
        display: block;
        max-width: 80%;
        height: auto;
        align-self: center;
    }
    .page--flex {
        padding: 2vh 5vw;
        display: flex;
        flex-direction: column;
        height: 100vw;
    }
    .message>* {
        margin-top: 6vh;
    }
    .btn {
        margin-top: 4vh;
        width: 40vw;
        height: 8vh;
    }
}

@media screen and (max-width: 600px) {
    .btn {
        width: 60vw;
    }
}